[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django = "==2.2.28"
flake8 = "*"
yapf = "*"
markdown = "*"
gunicorn = "*"
lxml = "4.5.1"

[requires]
python_version = "3.7"
