{% extends 'base.html' %}
{% load comments_extras %}

{% block main %}
<main class="col-md-12">
    <div class="category-container">
        <span>分类：<a href="{% url 'blog:category' post.category.pk%}">{{ post.category.name }}</a></span>
    </div>
    <article class="post post-{{ post.pk }}">
        <header class="entry-header">
        <h1 class="entry-title">{{ post.title }}</h1>
        <div class="entry-meta">
            {% comment %} <span class="post-category"><a href="{% url 'blog:category' post.category.pk%}">{{ post.category.name }}</a></span> {% endcomment %}
            <p class="post-author">作者：<a href="/">李虎</a></p>
            {% comment %} {{ post.author }} {% endcomment %}
            <p class="post-date">
                日期：<a href="{% url 'blog:archive' post.created_time.year post.created_time.month %}"><time class="entry-date" datetime="{{ post.created_time.date }}">{{ post.created_time.date }}</time></a>
            </p>
            {% comment %} <span class="comments-link"><a href="{{post.get_absolute_url}}#comment-area">{{ post.comment_set.count }} 评论</a></span> {% endcomment %}
            {% comment %} <span class="views-count"><a href="{{post.get_absolute_url}}">588 阅读</a></span> {% endcomment %}
        </div>
        </header>
        <div class="entry-content clearfix">
        {{ post.text | safe }}
        </div>
        <br><br><br>
        <p>(完)</P>
        
    </article>
    <div class="copyright-announcement">
            <h3>文档信息</h3>
            <ul>
                <li><p>版权声明：转载请注明出处</p></li>
                <li><p>发表日期：<a href="{% url 'blog:archive' post.created_time.year post.created_time.month %}"><time class="entry-date" datetime="{{ post.created_time.date }}">{{ post.created_time.date }}</time></a></P></li>
                <li><p>最后修改日期：<a href="{% url 'blog:archive' post.modified_time.year post.modified_time.month %}"><time class="entry-date" datetime="{{ post.modified_time.date }}">{{ post.modified_time.date }}</time></a></p></li>
            </ul>
        </div>
    <section class="comment-area" id="comment-area">
        <hr>
        {% comment %} <h3>留言板</h3> {% endcomment %}
        {% comment %} {% show_comment_form post %} {% endcomment %}
        
        <div> </div>
        
        <div class="comment-list-panel">
            {% show_comment_list post %}
        </div>

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.extra_tags }}  alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <div id="comment-form" class="comment_form_container">
            <h2>发表评论</h2>
            {% show_comment_form post %}
        </div>
        
    </section>
</main>
{% endblock main %}

{% block toc %}
    {% if post.toc %}
        <div class="widget widget-content">
            <h3 class="widget-title">文章目录</h3>
            <ul>
                {{ post.toc | safe }}
            </ul>
        </div>
    {% endif %}
{% endblock toc %}
                